html{
    background:url('../img/bg.png') no-repeat center center;
    min-height:100%;
    background-size:cover;
}

body{
    min-height:100%;
    max-height:100%;
    background:none;
}
div{
    background:none;
}
section, footer, header{
    display: block;
}
.container{
    background:none;
}
.row{
    background:none;
}
.center-block{
    background:none;
}

.text-enter{
    background:none;
}
.img-responsive{
    background:none;
    width:70%;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 15%;
  background:none;
  padding-bottom:5%;
}

h1 {
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
  color: #06D85F;
  margin: 80px 0;
}

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 20px;
  font-size: 2.5vmin;
  padding: 10px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.button:hover {
  background: #fff;
  text-decoration: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: rgba(255,255,255,0.75);
  border-radius: 5px;
  max-width: 70%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
@media only screen and (max-device-width: 480px) {
  .box{
width: 70%;
}
.popup{
width: 70%;
}
.button {
font-size: 20px;
font-size: 8.5vmin;
padding: 10px;
padding-left:1%;
padding-right:1%;
display:block;
color: #fff;
border: 2px solid #fff;
border-radius: 20px/50px;
text-decoration: none;
cursor: pointer;
transition: all 0.3s ease-out;
}
.img-responsive{
background:none;
width:100%;
}


        }
